.dashContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: #f5f5f5;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 270px;
}
